{% load static %}

<!DOCTYPE html>
<meta name="viewport" content="width=device-width"/>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Electron-Mail</a>
            
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <button class="btn btn-sm btn-secondary" id="inbox" style="margin: 2px; width: 90px;">Inbox</button>
                <button class="btn btn-sm btn-secondary" id="compose" style="margin: 2px; width: 90px;">Compose</button>
                <button class="btn btn-sm btn-secondary" id="sent" style="margin: 2px; width: 90px;">Sent</button>
                <button class="btn btn-sm btn-secondary" id="archived" style="margin: 2px; width: 90px;">Archived</button>
                <a class="btn btn-sm btn-secondary" href="{% url 'logout' %}" style="margin: 2px; width: 90px;">Log Out</a>
              
                <p style="color: white;" class="navbar-nav ml-auto my-lg-0">{{ request.user.email }}</p>
            </div>
          </nav>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>